@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-xs font-bold uppercase;
  }
  .btn-switch {
    @apply m-1 flex w-[80px] justify-center rounded-3xl p-0 text-sm font-bold hover:bg-gray-200;
  }
}
@layer utilities {
  .nav-link-dark {
    @apply text-gray-500 hover:text-gray-400;
  }
}

.bg-hero {
  background: linear-gradient(
    0deg,
    #000000e6,
    rgba(0, 0, 0, 0.863) 5.79%,
    rgba(0, 0, 0, 0.802) 10.88%,
    rgba(0, 0, 0, 0.721) 15.63%,
    rgba(0, 0, 0, 0.627) 20.37%,
    rgba(0, 0, 0, 0.523) 25.46%,
    rgba(0, 0, 0, 0.416) 31.25%,
    rgba(0, 0, 0, 0.311) 38.08%,
    rgba(0, 0, 0, 0.213) 46.3%,
    rgba(0, 0, 0, 0.128) 56.25%,
    #0000000f 68.29%,
    rgba(0, 0, 0, 0.016) 82.75%,
    #0000
  );
}

.swiper-slide-next,
.swiper-slide-prev {
  filter: brightness(60%);
  opacity: 0.8;
  transition: 0.4s;
}
